@font-face {
    font-family: 'face';
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 100px;
    background-color: #000;
    font-family: 'face', sans-serif;
}

#parent {
    width: 400px;
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 20px;
}

button {
    display: block;
    margin: 20px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: #333333;
    color: #fff;
}

button:hover {
    background-color: #B8E500;
}

h1 {
    color: aliceblue;
}

p {
    color: #B8E500;
}

#p2 {
    color: #ffffff;
}

img {
    border-radius: 100em;
    width: 30%;
}